html {
  background: #000000;
}

body {
  background: #000000;
  background: -webkit-gradient(linear, top, bottom, from(#C4039F), to(#000000), color-stop(0.2, #B71077));
  background: -moz-linear-gradient(top, #C4039F, #B71077 20%, #000000);
  background: linear-gradient(linear, top, bottom, #C4039F, #B71077 20%, #000000);
}

a {
  color: white;
  text-decoration: none;
}

#menukar-header {
  height: 25px;
  width: 980px;
  padding: 0 10px 5px;
  color: white;
  border-width: 0px 2px 2px;
  border-style: solid;
  border-color: white;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 2px 2px 11px 3px #462F42;
  -moz-box-shadow: 2px 2px 11px 3px #462F42;
  box-shadow: 2px 2px 11px 3px #462F42;
  background: #000000;
  background: -webkit-gradient(linear, top, bottom, from(#474747), to(#000000));
  background: -moz-linear-gradient(top, #474747, #000000);
  background: linear-gradient(linear, top, bottom, #474747, #000000);
}

#menukar-header a {
  height: 20px;
  float: left;
  padding: 0 8px 5px;
  margin: 5px 5px 0 5px;
}

#menukar-header a:hover {
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(255, 255, 255, 0.2);
}

#menukar-header-option {
  float: right;
}

.button-header {
  height: 20px;
  margin-top: 3px;
}

.button-option {
  margin: 5px 2px 0 !important;
  padding: 0 5px 5px !important;
}

.text-header {
  margin: 1px 0 0 5px;
  float: right;
}

#menukar-content {
  margin-top: 20px;
}

#menukar-fil {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 11px 3px #462F42;
  -moz-box-shadow: 2px 2px 11px 3px #462F42;
  box-shadow: 2px 2px 11px 3px #462F42;
}

#menukar-fil .header-fil {
  height: 30px;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: white;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  background: #000000;
  background: -webkit-gradient(linear, top, bottom, from(#474747), to(#000000));
  background: -moz-linear-gradient(top, #474747, #000000);
  background: linear-gradient(linear, top, bottom, #474747, #000000);
}

#menukar-fil .content-fil {
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: white;
  background: #000000;
}

.body-fil {
  height: 430px;
  margin: 0px 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #FEFEFE;
  background: -webkit-gradient(linear, top, bottom, from(#FEFEFE), to(#DCDCDC));
  background: -moz-linear-gradient(top, #FEFEFE, #DCDCDC);
  background: linear-gradient(linear, top, bottom, #FEFEFE, #DCDCDC);
}

#menukar-fil .footer-fil {
  height: 8px;
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-color: white;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
  background: #000000;
}

